<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Template</title>
</head>
<body>
{{#person}}
  Hallo Person {{name}}!
{{/person}}
{{^person}}
  Hallo Gust
{{/person}}
</body>
</html>